@{
    // Obtenemos el nombre del controlador y la acción que se está ejecutando
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
    var actionName = ViewContext.RouteData.Values["action"].ToString();
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ynnovatech Kardex</title>
    <script type="importmap"></script>
    <!-- AdminLTE -->
    <link rel="stylesheet" href="/css/adminlte.min.css">
    <link rel="stylesheet" href="/css/all.min.css">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="/plugins/sweetalert2/sweetalert2.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="/plugins/toastr/toastr.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="/plugins/select2/css/select2.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700">
    <!-- Datatables -->
    <link rel="stylesheet" href="/plugins/datatables-test/datatables.min.css">
    <!-- Select2 Bootstrap 4-->
    <link rel="stylesheet" href="/plugins/select2-bootstrap4-theme/select2-bootstrap4.css" />

    <!-- Scripts -->
    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE JS -->
    <script src="/js/adminlte.min.js"></script>

    <!-- Moment.js (para formateo de fechas) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>

    <!-- SweetAlert2 -->
    <script src="/plugins/sweetalert2/sweetalert2.all.min.js"></script>
    <!-- Toastr -->
    <script src="/plugins/toastr/toastr.min.js"></script>
    <!-- Select2 -->
    <script src="/plugins/select2/js/select2.full.min.js"></script>
    <!-- InputMask -->
    <script src="/plugins/inputmask/jquery.inputmask.min.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Datatables -->
    <script src="/plugins/datatables-test/datatables.min.js"></script>
    <script>
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

        function loadBigModal(url, title) {
            $.ajax({
                url: url,
                type: 'GET',
                success: function (html) {
                    // Cambiar el contenido del modal
                    $('#dynamic-modal .modal-dialog').attr('class', 'modal-dialog modal-xl');
                    $('#modal-body').html(html);
                    $('#modal-title').text(title);
                    $('#dynamic-modal').modal('show');
                },
                error: function (xhr, status, error) {
                    console.error('Error al cargar el contenido del modal:', error);
                }
            });
        }

        function loadMediumModal(url, title) {
            $.ajax({
                url: url,
                type: 'GET',
                success: function (html) {
                    $('#dynamic-modal .modal-dialog').attr('class', 'modal-dialog modal-lg');
                    $('#modal-body').html(html);
                    $('#modal-title').text(title);
                    $('#dynamic-modal').modal('show');
                },
                error: function (xhr, status, error) {
                    console.error('Error al cargar el contenido del modal:', error);
                }
            });
        }

        function loadShortModal(url, title) {
            $.ajax({
                url: url,
                type: 'GET',
                success: function (html) {
                    $('#dynamic-modal .modal-dialog').attr('class', 'modal-dialog modal-sm');
                    $('#modal-body').html(html);
                    $('#modal-title').text(title);
                    $('#dynamic-modal').modal('show');
                },
                error: function (xhr, status, error) {
                    console.error('Error al cargar el contenido del modal:', error);
                }
            });
        }
    </script>
</head>
<body class="hold-transition sidebar-mini layout-footer-fixed">
    <div class="wrapper">
        <!-- Preloader -->
        <!-- <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="/Static/img/yatrax-preloader.png" alt="YatraxLogo" height="120" width="200">
        </div> -->
        <!-- Navbar -->
         <nav class="main-header navbar navbar-expand navbar-white navbar-light" id="maestra_header">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button" id="btn_sidebar">
                        <i class="fas fa-bars"></i>
                    </a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">Inicio</a>
                </li>
            </ul>

            <!-- Botón de Logout -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <form action="/Home/Logout" method="post">
                        <button type="submit" class="btn btn-danger">
                            <i class="fas fa-sign-out-alt"></i> Cerrar sesión
                        </button>
                    </form>
                </li>
            </ul>
        </nav> 

        <!-- Sidebar -->
         <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="" class="brand-link">
                <img src="/uploads/logo/Ynnovatech.jpg" alt="Ynnova" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Ynnovatech</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="/uploads/fotos/default-user.png" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">@User.Identity.Name</a>
                        <!-- Texto por defecto -->
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
                        <li class="nav-item @(new[] { "Producto" }.Contains(controllerName) ? "menu-open" : "")">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-file-invoice-dollar"></i>
                                <p>
                                    Productos
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Producto/Index"
                                       class="nav-link @((controllerName == "Producto" && new[] { "Index" }.Contains(actionName)) ? "active" : "")">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Listado de productos</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Producto/Registrar"
                                       class="nav-link @((controllerName == "Producto" && new[] { "Registrar" }.Contains(actionName)) ? "active" : "")">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Registrar producto</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item @(new[] { "IngresoSalidaAlm" }.Contains(controllerName) ? "menu-open" : "")">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-file-invoice-dollar"></i>
                                <p>
                                    Ingresos/Salidas de almacén
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/IngresoSalidaAlm/Index"
                                       class="nav-link @((controllerName == "IngresoSalidaAlm" && new[] { "Index", "Registrar" }.Contains(actionName)) ? "active" : "")">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Listado de ingresos/salidas</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/IngresoSalidaAlm/ReporteKardex"
                                       class="nav-link @((controllerName == "IngresoSalidaAlm" && new[] { "ReporteKardex" }.Contains(actionName)) ? "active" : "")">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Reporte Kardex</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside> 

        <!-- Contenido principal -->
        <div class="content-wrapper">
            @RenderBody()
        </div>
    </div>

    <div id="dynamic-modal" class="modal fade" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="modal-title" class="modal-title">Default Modal</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span>×</span>
                    </button>
                </div>
                <div id="modal-body" class="modal-body">
                    <p>One fine body…</p>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
